@page {
    counter-increment: page;

    -ro-scale-content: none;
    hyphens: auto;

    size: A4 portrait;
    margin:0mm 0mm 0mm 0mm !important;

}

html{
    color: #909294;
    background: #212529;
}

body {
    margin: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
}

a{
    color: inherit;
}

header {
    padding: 1px 20px 20px 20px;
    color: white;
}

header h1 {
    font-size: 20pt;
    letter-spacing: 2pt;
    border-bottom: 1px solid white;
    margin-bottom: 4px;
}

header span {
    font-size: 10pt;
    float: right;
}

header span.name{
    font-size: 45px;
}

section h2 {
    font-size: 14pt;
}

section p {
    margin-left: 40px;
}

section#statement p {
    margin-left: 0;
    text-align: justify;
    padding-bottom: 0;
    margin-bottom: -15px;
}

section ul {
    list-style-type: circle;
}

.pagebreak {
    /*page-break-before: always;*/
}

table, tr {
    page-break-before: auto;
    /*page-break-inside: avoid;*/
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding-bottom: 10px !important;
}
td.no-space{
    padding-bottom: 0 !important;;
}

span.contact-info{
    font-size: 15px;
}

div.resume-top {
    margin: -40px -40px 0 -40px;
    display: block;
    padding: 20px;
}

span.contact-info i {
    padding: 0 3px 0 3px;
    height: 20px;
}

span.resume-socials {
    text-align: right;
    padding-top: 5px;
}

h2.resume-section-heading {
    text-align: center;
    font-size: 30px
}

div.resume-section-container {
    background: #393C3F;
    border-radius: 15px;
    padding: 20px;
    margin: 0px -20px 0 -20px;
}

div.resume-skill-container {
    display: flex;background: #434649; border-radius: 15px; padding: 3px 5px 0 7px; vertical-align: middle;
}
